.recommendations .slick-list{
    padding:0 50px}
    .recommendations .slick-arrow.slick-left{
        left:30px}.recommendations .slick-arrow.slick-right{
            right:30px}
            .cards{
                padding-top:10px;
                clear:both}
            .cards .card{
                height:280px;
                margin-bottom:20px}
                #tab-Destinations .cards{
                    padding-top:0}
                    .mobile-tabs{
                        margin-top:20px}
                        .mobile-tabs select{
font-family:utopia-std,serif;
font-size:16px}
@media (min-width:760px){
    .mobile-tabs{
        display:none}}
    .press{
        display:flex;
        display:-webkit-flex;
-webkit-align-items:center;
align-items:center;
justify-content:center;
-webkit-justify-content:center;
margin:10px 0}
@media (max-width:760px){
    .press{
        flex-wrap:wrap;
        -webkit-flex-wrap:wrap}}
        .press img{width:20%;
            padding:0 10px;
            height:100%}
            @media (max-width:760px){
                .press img{
                    padding:10px;
                    width:33.33333%}}
 @media (max-width:450px){
    .press img{width:50%}}
    .searchform .popup{
        display:flex;
        display:
        -webkit-flex;
        justify-content:space-between;
        -webkit-justify-content:space-between}
        .searchform .popup .mobile-back{
            display:none}
.searchform .popup .destinations,
.searchform .popup .experiences{
    width:50%;
    padding:10px 31px 35px}
    .searchform .popup .destinations{
        position:relative}
        .searchform .popup .destinations .title{
            min-width:81px}
.searchform .popup .destinations .slideBack{
    cursor:pointer}
    .searchform .popup .destinations:after{
        content:"";
        position:absolute;
        right:0;top:15px;
        bottom:44px;
        border-right:1px solid #e6e6e6}
        .searchform .popup .list{
display:flex;
display:
-webkit-flex;
justify-content:space-between;
-webkit-justify-content:space-between;
padding:27px 0 0}
.searchform .popup .list ul{
    width:100%}
    .searchform .popup .list ul .clickable{
        pointer-events:all}
        .searchform .popup .list ul li{
list-style-type:none;
padding:3px 0;
padding-right:40px;
margin-left:0;
pointer-events:none}
.searchform .popup .list ul li:before{
    content:none}
    .searchform .popup .list ul li a{
        display:flex;
        display:
-webkit-flex;
justify-content:space-between;
-webkit-justify-content:space-between;
font-size:18px;
font-family:utopia-std,serif}
.searchform .popup .list ul li a i{
    font-size:12px;
    color:#ffdd19}
    @media (max-width:610px){
        .searchform .popup .list ul li{
            padding-right:0}
        }@media (max-width:941px){
.searchform .popup .desktop-back{
    display:none}
    .searchform .popup .mobile-back{d
        isplay:block}}
        @media (max-width:530px){
            .searchform .popup{
padding-top:8px}
.searchform .popup .list{
    padding-top:116px}
    .searchform .popup .list ul{
display:none}.searchform .popup .destinations,
.searchform .popup .experiences{padding:10px 15px 35px}
.searchform .popup .destinations .title,.searchform .popup .experiences .title{
    flex-direction:column;
    -webkit-flex-direction:column;
    justify-content:center;
    -webkit-justify-content:center;
    position:absolute;
    padding:0 10px}
    .searchform .popup .destinations .title span,
    .searchform .popup .experiences .title span{
        margin-top:3px}
.searchform .popup .destinations .title label,.searchform .popup .experiences .title label{
    margin-right:0}
    .searchform .popup .destinations .title:after,
    .searchform .popup .experiences .title:after{
        border-bottom:0;
        bottom:-17px}
.searchform .popup .destinations .slick-track,
.searchform .popup .experiences .slick-track{
    margin:0}
    .searchform .popup .destinations:after,.searchform .popup .experiences:after{content:none}
    .searchform .popup .destinations.active,
    .searchform .popup .destinations.active .slick-slide,
    .searchform .popup .experiences.active,
    .searchform .popup .experiences.active .slick-slide{
        width:100%}
.searchform .popup .destinations.active .list ul,
.searchform .popup .experiences.active .list ul{
    display:block}
    .searchform .popup .destinations.active .title:after,
    .searchform .popup .experiences.active .title:after{
        border-bottom:2px solid #000}
        .searchform .popup .destinations.active .list ul,
        .searchform .popup .destinations .slick-slide{
width:100%}
.searchform .popup .experiences .title{
    right:20px}
    .searchform .popup .experiences .list ul{
        margin-left:-123%;width:auto}}
        @media (max-width:400px){
            .searchform .popup .title{
padding:0 3px!important}
.searchform .popup .title span{
    font-size:14px}}
    .searchform .title{
        display:flex;
        display:
        -webkit-flex;
        -webkit-align-items:center;
        align-items:center;
        padding-bottom:8px;
        position:relative}
        .searchform .title:after{
            content:"";
            position:absolute;
right:0;left:0;
bottom:0;
border-bottom:1px solid #e6e6e6}
@media (max-width:530px){
    .searchform .title:after{
        right:10px;
    left:10px}}
    @media (max-width:400px){
        .searchform .title:after{
            right:5px;left:5px}}
            .searchform .title label{
                display:flex;
        display:
        -webkit-flex;
        -webkit-align-items:center;
        align-items:center;
        justify-content:center;
        -webkit-justify-content:center;
            height:52px;
            width:52px;
            background:#000;
            -webkit-border-radius:100%;
            -moz-border-radius:100%;
            -ms-border-radius:100%;
            border-radius:100%;
            margin-bottom:0;
            margin-right:10px}
            .searchform .title label img{
                height:34px;max-width:100%}
                .searchform .title span{
                    font-family:utopia-std,serif;
                    font-size:18px}